nome = input("Digite nome do Funcionario:")
sobrenome  =input("Digite  Sobrenome  do Funncionario:")

nome_completo = nome+" "+sobrenome

i=0
soma=0
total_sal=0
sal=0
mes=0
imposto:0
while i<12:
    i=i+1
    mes= mes+1
    sal = input("Digite o salario"   +str(mes)+   "do Funcionario :")
    if sal == '':
        done = True


    else:
        sal = float(sal)
        soma += sal



    if sal > 0:
       media = soma/ 12




print("Funcionario: " + nome_completo + " A soma anual de seu salario é  = " + str(soma) + "Sua media salarial é :" + str(media))


